@inherits RazorBlade.HtmlLayout
@* ReSharper disable Razor.SectionNotResolved *@
<h1>Header</h1>
This is the inner layout.

Section Foo: @RenderSection("Foo")
@RenderBody()
Section Bar: @RenderSection("Bar")
<i>Footer</i>
@section Baz {
    This is <b>Baz</b>, from the inner layout.
}
@functions
{
    protected override HtmlLayout? CreateLayout()
        => new OuterLayout();
}
