@inherits RazorBlade.HtmlTemplate
@* ReSharper disable Razor.SectionNotResolved *@
<h2>Hello, world!</h2>
This is the body contents.
@section Foo {
    This is <b>Foo</b>.
}
@section Bar {
    This is <i>Bar</i>.
}
@functions
{
    protected override HtmlLayout? CreateLayout()
        => new Layout();
}
