@using RazorBlade.IntegrationTest
@inherits RazorBlade.HtmlTemplate

<b>Hello, @Name!</b>

<a href="https://@HostName/hello.txt?q=@Name&t=test">Hello</a>

@{ var br = "<br>"; }
@br
@Html.Raw("<br>")

@(new Footer())

@functions {
    public string? Name { get; set; }
    public string? HostName { get; set; } = "example.com";
}
