@inherits RazorBlade.HtmlTemplate
@* begin-snippet: TemplateWithFlush.Usage *@
<div>Lightweight content goes here.</div>
@await FlushAsync()
<div>Slower to render content goes here.</div>
@* end-snippet *@
