
name: Build
on: [push, pull_request]

env:
  DOTNET_NOLOGO: 1
  NUGET_CERT_REVOCATION_MODE: offline

jobs:
  windows:
    name: Windows
    runs-on: windows-latest
    steps:
      - name: Configure Git
        run: git config --system core.longpaths true

      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            6.0.x
            8.0.x

      - name: Restore
        run: dotnet restore src/RazorBlade.sln

      - name: Build
        run: dotnet build --configuration Release --no-restore src/RazorBlade.sln

      - name: Pack
        run: dotnet pack --configuration Release --no-build src/RazorBlade.sln

      - name: Test
        run: dotnet test --configuration Release --no-build src/RazorBlade.sln

      - name: Upload NuGet
        uses: actions/upload-artifact@v4
        with:
          name: NuGet
          path: output/*.nupkg
          if-no-files-found: error
